{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<!--divinectorweb.com-->
<head>
    <meta charset="UTF-8">
    <title>HOMe</title>
    <link rel="stylesheet" href="/static/css/home.css" />
    <link rel="stylesheet" href="/static/css/vi.css">    
</head>
<body>
   
	
	<section class="box">  
		<video src="/static/images/abba.mp4" autoplay muted loop></video>
		<h1>Local Service Search enginee</h1> 
		<h3>smart way to easy life</h3>
		<a href="#" class="boxBtn">Contact Us</a>   
	</section>
    <section>
        <div class="row">
         <b> <h2 class="section-heading">Our Services</h2><b>
        </div>
        <div class="row">
          <div class="column">
            <div class="card">
              <div class="icon-wrapper">
                <i class="fa-solid fa-paint-roller"></i>
              </div>
              <h3> Painter Service </h3>
              <p>
                Create your dream home with our painting experts
                All Great Things Start Small
                
Initiating small renovations or painting your home can be exciting, but choosing the right colours, products, and house painters can be a task. All the while, you also have to ensure the home interior painting job is executed on time with utmost care and safety. This is where we come in, with our aim to make painting a safe and great experience!


              </p>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="icon-wrapper">
               <i class="fa-regular fa-shower"></i>
              </div>
              <h3> Plumber Service </h3>
              <p>
                andling a variety of plumbing emergencies efficiently and professionally.
      Installing pipes, drainage systems, sinks, toilets, and heating and cooling systems.
      Testing systems for leaks and other problems.
      Obeying health and safety codes at all times.
      Performing inspections and providing advice to homeowners.
      Selecting the most cost-effective, quality products for installation and repair.
                      </p>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="icon-wrapper">
                <i class="fas fa-wrench"></i>
              </div>
              <h3> Ac Service </h3>
              <p>
                Providing expert repair and installation services for gas and electric air conditioners, we are a pioneer in the field. Affordable, quick service. Our proficient instructors can install springs for all types of fountain brands at A.C. Sales and Service Center. Affordable AC Repair Service, Simple Solutions to Complex Problems. Adjusting clocks is what we do best.


              </p>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="icon-wrapper">
             <i class="fa-solid fa-house"></i>
              </div>
              <h3> Home cleanning Service </h3>
              <p>
                Home sweet home is the place where we can be ourselves and sleep, cook, eat, and work. So, why not ensure that your home remains the best place to live by keeping it clean every time? However not everyone can spare time to clean the entire home by themselves, so the better way is to book professional house cleaning services. Home cleaning services are a must not just when Diwali is around the corner, but otherwise too.

                You will be able to get the desired results after house cleaning services only if you hire experts like Us. 
              </p>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="icon-wrapper">
                {% comment %} <i class="fas fa-broom"></i> {% endcomment %}
                <i class="fa-solid fa-child"></i>
              </div>
              <h3> Nanny Service </h3>
              <p>
                Home sweet home is the place where we can be ourselves and sleep, cook, eat, and work. So, why not ensure that your home remains the best place to live by keeping it clean every time? However not everyone can spare time to clean the entire home by themselves, so the better way is to book professional house cleaning services. Home cleaning services are a must not just when Diwali is around the corner, but otherwise too.

                  You will be able to get the desired results after house cleaning services only if you hire experts like Us. 
              </p>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="icon-wrapper">
                <i class="fas fa-plug"></i>
              </div>
              <h3>Electrician services</h3>
              <p>
                Home sweet home is the place where we can be ourselves and sleep, cook, eat, and work. So, why not ensure that your home remains the best place to live by keeping it clean every time? However not everyone can spare time to clean the entire home by themselves, so the better way is to book professional house cleaning services. Home cleaning services are a must not just when Diwali is around the corner, but otherwise too.

                  You will be able to get the desired results after house cleaning services only if you hire experts like Us.
              </p>
            </div>
          </div>
        </div>
      </section>
   
  


      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
	<style>
        .footer{
          background-color:  black;
            
      
        }
      </style>
	
</body>
</html>
{% endblock %}